USE [master]
GO
/****** Object:  Database [presma_web]    Script Date: 18/12/2024 21:32:36 ******/
CREATE DATABASE [presma_web]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'presma_web', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\presma_web.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'presma_web_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\presma_web_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [presma_web].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [presma_web]
GO
/****** Object:  Table [dbo].[DETAIL_PRESTASI]    Script Date: 18/12/2024 21:32:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAIL_PRESTASI](
	[ID_DETAIL] [int] IDENTITY(1,1) NOT NULL,
	[TGL_KEGIATAN] [date] NULL,
	[NAMA_LOMBA] [varchar](150) NULL,
	[LOKASI] [varchar](100) NULL,
	[PENYELENGGARA] [varchar](100) NULL,
 CONSTRAINT [PK_DETAIL] PRIMARY KEY CLUSTERED 
(
	[ID_DETAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADMIN]    Script Date: 18/12/2024 21:32:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN](
	[ID_ADMIN] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](50) NULL,
	[PASSWORD_ADMIN] [varchar](30) NULL,
	[NAMA_ADMIN] [varchar](50) NULL,
 CONSTRAINT [PK_ADMIN] PRIMARY KEY CLUSTERED 
(
	[ID_ADMIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRESTASI]    Script Date: 18/12/2024 21:32:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRESTASI](
	[ID_PRESTASI] [int] IDENTITY(1,1) NOT NULL,
	[NIM] [varchar](12) NULL,
	[ID_DOKUMEN] [int] NULL,
	[ID_DETAIL] [int] NULL,
	[NIP] [varchar](12) NULL,
	[JENIS_PRESTASI] [varchar](100) NULL,
	[PERINGKAT] [varchar](100) NULL,
	[STATUS] [varchar](100) NULL,
	[ID_TINGKAT] [int] NULL,
	[ID_ADMIN] [int] NULL,
 CONSTRAINT [PK_PRESTASI] PRIMARY KEY CLUSTERED 
(
	[ID_PRESTASI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TINGKAT]    Script Date: 18/12/2024 21:32:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINGKAT](
	[ID_TINGKAT] [int] IDENTITY(1,1) NOT NULL,
	[TINGKATAN] [varchar](100) NULL,
	[POIN] [int] NULL,
 CONSTRAINT [PK_TINGKAT] PRIMARY KEY CLUSTERED 
(
	[ID_TINGKAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[D_PRESTASI_MAHASISWA]    Script Date: 18/12/2024 21:32:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[D_PRESTASI_MAHASISWA] AS  
SELECT  
	p.nim,  
    d.nama_lomba,   
    t.tingkatan,   
    t.poin,    
    d.tgl_kegiatan,
	a.NAMA_ADMIN
FROM   
    PRESTASI p   
JOIN   
    DETAIL_PRESTASI d ON p.ID_DETAIL = d.ID_DETAIL  
JOIN   
    TINGKAT t ON p.ID_TINGKAT = t.ID_TINGKAT
JOIN
	dbo.ADMIN a ON p.ID_ADMIN = a.ID_ADMIN;
GO
/****** Object:  View [dbo].[D_JMLH_POIN_KEGIATAN]    Script Date: 18/12/2024 21:32:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[D_JMLH_POIN_KEGIATAN] AS
SELECT
	p.NIM,
    COUNT(dp.ID_DETAIL) AS jumlah_kegiatan,
    SUM(t.poin) AS jumlah_poin
FROM 
    PRESTASI p
JOIN 
    DETAIL_PRESTASI dp ON p.ID_DETAIL = dp.ID_DETAIL
JOIN 
    TINGKAT t ON p.ID_TINGKAT = t.ID_TINGKAT
GROUP BY 
	p.NIM;
GO
/****** Object:  View [dbo].[V_PRESTASI]    Script Date: 18/12/2024 21:32:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_PRESTASI] AS
SELECT 
	p.ID_PRESTASI,
	p.nim, 
	dp.NAMA_LOMBA, 
	p.PERINGKAT, 
	p.JENIS_PRESTASI , 
	t.TINGKATAN, 
	p.STATUS
FROM 
	PRESTASI p
JOIN 
	DETAIL_PRESTASI dp ON dp.ID_DETAIL = p.ID_DETAIL
JOIN 
	TINGKAT t ON t.ID_TINGKAT = p.ID_TINGKAT;
GO
/****** Object:  Table [dbo].[MAHASISWA]    Script Date: 18/12/2024 21:32:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAHASISWA](
	[NIM] [varchar](12) NOT NULL,
	[NAMA] [varchar](100) NULL,
	[PRODI] [varchar](30) NULL,
	[EMAIL] [varchar](30) NULL,
	[FOTO_PROFIL] [varchar](100) NULL,
	[ANGKATAN] [int] NULL,
	[PASSWORD] [varchar](30) NULL,
	[TOTAL_POIN] [int] NULL,
 CONSTRAINT [PK_MAHASISWA] PRIMARY KEY CLUSTERED 
(
	[NIM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[D_ADMIN_PRESTASI]    Script Date: 18/12/2024 21:32:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[D_ADMIN_PRESTASI] AS
SELECT 
	m.NAMA, 
	m.NIM, 
	p.PERINGKAT, 
	dp.NAMA_LOMBA, 
	t.TINGKATAN, 
	p.STATUS
FROM 
	PRESTASI p
JOIN 
	MAHASISWA m ON m.NIM = p.NIM
JOIN
	DETAIL_PRESTASI dp ON dp.ID_DETAIL = p.ID_DETAIL
JOIN
	TINGKAT t ON t.ID_TINGKAT = p.ID_TINGKAT;
GO
/****** Object:  Table [dbo].[DOKUMEN]    Script Date: 18/12/2024 21:32:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOKUMEN](
	[ID_DOKUMEN] [int] IDENTITY(1,1) NOT NULL,
	[SERTIFIKAT] [varchar](1024) NULL,
	[PROPOSAL] [varchar](1024) NULL,
	[SURAT_TUGAS] [varchar](1024) NULL,
	[KARYA] [varchar](1024) NULL,
 CONSTRAINT [PK_DOKUMEN] PRIMARY KEY CLUSTERED 
(
	[ID_DOKUMEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[REVIEW_MAHASISWA]    Script Date: 18/12/2024 21:32:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[REVIEW_MAHASISWA] AS
SELECT m.NIM, m.NAMA, m.PRODI, p.ID_PRESTASI, dp.NAMA_LOMBA, d.KARYA, d.PROPOSAL, d.SERTIFIKAT, d.SURAT_TUGAS
FROM dbo.MAHASISWA m
JOIN dbo.PRESTASI p ON m.NIM = p.NIM
JOIN dbo.DETAIL_PRESTASI dp ON p.ID_DETAIL = dp.ID_DETAIL
JOIN dbo.DOKUMEN d ON d.ID_DOKUMEN = p.ID_DOKUMEN
where STATUS ='pending';
GO
/****** Object:  Table [dbo].[DOSEN]    Script Date: 18/12/2024 21:32:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOSEN](
	[NIP] [varchar](12) NOT NULL,
	[NAMA_DOSEN] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[NIP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ADMIN] ON 

INSERT [dbo].[ADMIN] ([ID_ADMIN], [USERNAME], [PASSWORD_ADMIN], [NAMA_ADMIN]) VALUES (1, N'Admin', N'12345', N'Tionusa')
SET IDENTITY_INSERT [dbo].[ADMIN] OFF
GO
SET IDENTITY_INSERT [dbo].[DETAIL_PRESTASI] ON 

INSERT [dbo].[DETAIL_PRESTASI] ([ID_DETAIL], [TGL_KEGIATAN], [NAMA_LOMBA], [LOKASI], [PENYELENGGARA]) VALUES (1, CAST(N'2024-01-15' AS Date), N'Olimpiade Matematika Nasional', N'Jakarta', N'Universitas Indonesia')
INSERT [dbo].[DETAIL_PRESTASI] ([ID_DETAIL], [TGL_KEGIATAN], [NAMA_LOMBA], [LOKASI], [PENYELENGGARA]) VALUES (2, CAST(N'2024-02-10' AS Date), N'Hackathon Nasional', N'Surabaya', N'Telkom University')
INSERT [dbo].[DETAIL_PRESTASI] ([ID_DETAIL], [TGL_KEGIATAN], [NAMA_LOMBA], [LOKASI], [PENYELENGGARA]) VALUES (3, CAST(N'2024-03-05' AS Date), N'Lomba Karya Tulis Ilmiah', N'Yogyakarta', N'Universitas Gadjah Mada')
SET IDENTITY_INSERT [dbo].[DETAIL_PRESTASI] OFF
GO
SET IDENTITY_INSERT [dbo].[DOKUMEN] ON 

INSERT [dbo].[DOKUMEN] ([ID_DOKUMEN], [SERTIFIKAT], [PROPOSAL], [SURAT_TUGAS], [KARYA]) VALUES (1, N'sertifikat_olimpiade_2024.pdf', N'proposal_olimpiade_2024.pdf', N'surat_tugas_olimpiade.pdf', N'karya_poster_olimpiade.jpg')
INSERT [dbo].[DOKUMEN] ([ID_DOKUMEN], [SERTIFIKAT], [PROPOSAL], [SURAT_TUGAS], [KARYA]) VALUES (2, N'sertifikat_hackathon.pdf', NULL, N'surat_tugas_hackathon.pdf', N'prototype_aplikasi.zip')
INSERT [dbo].[DOKUMEN] ([ID_DOKUMEN], [SERTIFIKAT], [PROPOSAL], [SURAT_TUGAS], [KARYA]) VALUES (3, N'sertifikat_lkti.pdf', N'proposal_lkti_2024.pdf', NULL, N'paper_lkti.pdf')
SET IDENTITY_INSERT [dbo].[DOKUMEN] OFF
GO
INSERT [dbo].[DOSEN] ([NIP], [NAMA_DOSEN]) VALUES (N'', N'')
INSERT [dbo].[DOSEN] ([NIP], [NAMA_DOSEN]) VALUES (N'1978121201', N'Dr. Ir. Budi Santoso, M.T.')
INSERT [dbo].[DOSEN] ([NIP], [NAMA_DOSEN]) VALUES (N'1979051807', N'Dr. Hendra Supriadi, S.Kom., M.Sc.')
GO
INSERT [dbo].[MAHASISWA] ([NIM], [NAMA], [PRODI], [EMAIL], [FOTO_PROFIL], [ANGKATAN], [PASSWORD], [TOTAL_POIN]) VALUES (N'21430001', N'Aulia Rahma', N'D4 Teknik Informatika', N'aulia_rahma@gmail.com', N'../img/dummy/androidparty.png', 2021, N'password123', 85)
INSERT [dbo].[MAHASISWA] ([NIM], [NAMA], [PRODI], [EMAIL], [FOTO_PROFIL], [ANGKATAN], [PASSWORD], [TOTAL_POIN]) VALUES (N'21430002', N'Bagus Pratama', N'D4 Sistem Informasi Bisnis', N'bagus.pratama@mail.com', N'../img/dummy/androidparty.png', 2021, N'passbagus21', 90)
INSERT [dbo].[MAHASISWA] ([NIM], [NAMA], [PRODI], [EMAIL], [FOTO_PROFIL], [ANGKATAN], [PASSWORD], [TOTAL_POIN]) VALUES (N'21430003', N'Citra Amelia', N'D4 Teknik Informatika', N'citra.amelia@mail.com', N'../img/dummy/androidparty.png', 2022, N'citrapsw', 78)
GO
SET IDENTITY_INSERT [dbo].[PRESTASI] ON 

INSERT [dbo].[PRESTASI] ([ID_PRESTASI], [NIM], [ID_DOKUMEN], [ID_DETAIL], [NIP], [JENIS_PRESTASI], [PERINGKAT], [STATUS], [ID_TINGKAT], [ID_ADMIN]) VALUES (34, N'21430005', 18, 16, N'1978121201', N'Non Akademik', N'Juara 1', N'Rejected', 2, 1)
INSERT [dbo].[PRESTASI] ([ID_PRESTASI], [NIM], [ID_DOKUMEN], [ID_DETAIL], [NIP], [JENIS_PRESTASI], [PERINGKAT], [STATUS], [ID_TINGKAT], [ID_ADMIN]) VALUES (35, N'21430001', 19, 17, N'1983083009', N'Non Akademik', N'peringkat', N'Completed', 1, 1)
INSERT [dbo].[PRESTASI] ([ID_PRESTASI], [NIM], [ID_DOKUMEN], [ID_DETAIL], [NIP], [JENIS_PRESTASI], [PERINGKAT], [STATUS], [ID_TINGKAT], [ID_ADMIN]) VALUES (36, N'21430001', 20, 18, N'1990021505', N'Akademik', N'1', N'Completed', 2, 1)
SET IDENTITY_INSERT [dbo].[PRESTASI] OFF
GO
SET IDENTITY_INSERT [dbo].[TINGKAT] ON 

INSERT [dbo].[TINGKAT] ([ID_TINGKAT], [TINGKATAN], [POIN]) VALUES (1, N'Provinsi', 5)
INSERT [dbo].[TINGKAT] ([ID_TINGKAT], [TINGKATAN], [POIN]) VALUES (2, N'Nasional', 10)
INSERT [dbo].[TINGKAT] ([ID_TINGKAT], [TINGKATAN], [POIN]) VALUES (3, N'Internasional', 15)
SET IDENTITY_INSERT [dbo].[TINGKAT] OFF
GO
ALTER TABLE [dbo].[PRESTASI]  WITH CHECK ADD  CONSTRAINT [FK_DOKUMEN] FOREIGN KEY([ID_DOKUMEN])
REFERENCES [dbo].[DOKUMEN] ([ID_DOKUMEN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PRESTASI] CHECK CONSTRAINT [FK_DOKUMEN]
GO
ALTER TABLE [dbo].[PRESTASI]  WITH CHECK ADD  CONSTRAINT [FK_MEMILIH] FOREIGN KEY([ID_TINGKAT])
REFERENCES [dbo].[TINGKAT] ([ID_TINGKAT])
GO
ALTER TABLE [dbo].[PRESTASI] CHECK CONSTRAINT [FK_MEMILIH]
GO
ALTER TABLE [dbo].[PRESTASI]  WITH CHECK ADD  CONSTRAINT [FK_MENGINPUTKAN] FOREIGN KEY([NIM])
REFERENCES [dbo].[MAHASISWA] ([NIM])
GO
ALTER TABLE [dbo].[PRESTASI] CHECK CONSTRAINT [FK_MENGINPUTKAN]
GO
ALTER TABLE [dbo].[PRESTASI]  WITH CHECK ADD  CONSTRAINT [FK_PRESTASI_DETAIL] FOREIGN KEY([ID_DETAIL])
REFERENCES [dbo].[DETAIL_PRESTASI] ([ID_DETAIL])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PRESTASI] CHECK CONSTRAINT [FK_PRESTASI_DETAIL]
GO
ALTER TABLE [dbo].[PRESTASI]  WITH CHECK ADD  CONSTRAINT [FK_PRESTASI_DOSEN] FOREIGN KEY([NIP])
REFERENCES [dbo].[DOSEN] ([NIP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PRESTASI] CHECK CONSTRAINT [FK_PRESTASI_DOSEN]
GO
ALTER TABLE [dbo].[PRESTASI]  WITH CHECK ADD  CONSTRAINT [FK_VALIDASI_ADMIN] FOREIGN KEY([ID_ADMIN])
REFERENCES [dbo].[ADMIN] ([ID_ADMIN])
GO
ALTER TABLE [dbo].[PRESTASI] CHECK CONSTRAINT [FK_VALIDASI_ADMIN]
GO
/****** Object:  StoredProcedure [dbo].[InsertPrestasi]    Script Date: 18/12/2024 21:32:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertPrestasi]
	@tanggal DATE,
	@lomba VARCHAR(150),
	@lokasi VARCHAR(100),
	@penyelenggara VARCHAR(100),
    @nim VARCHAR(12),
	@nip VARCHAR(12),
	@jenis_prestasi VARCHAR(100),
	@peringkat VARCHAR(100),
	@status VARCHAR(100),
	@id_tingkat int,
	@sertifikat VARCHAR(1024),
	@proposal VARCHAR(1024),
	@surat_tugas VARCHAR(1024),
	@karya VARCHAR(1024)
AS
BEGIN
    -- Mulai transaksi untuk memastikan kedua operasi berhasil
    BEGIN TRANSACTION;

    BEGIN TRY
		-- Menyisipkan data ke tabel dokumen dan mendapatkan ID dokumen
		DECLARE @id_dokumen INT;

		INSERT INTO DOKUMEN (SERTIFIKAT, PROPOSAL, SURAT_TUGAS, KARYA)
		VALUES (@sertifikat, @proposal, @surat_tugas, @karya);

		SET @id_dokumen = SCOPE_IDENTITY();

        -- Menyisipkan data ke tabel prestasi dan mendapatkan ID prestasi
        DECLARE @id_detail_prestasi INT;

        INSERT INTO DETAIL_PRESTASI (TGL_KEGIATAN, NAMA_LOMBA, LOKASI, PENYELENGGARA)
        VALUES (@tanggal, @lomba, @lokasi, @penyelenggara);

        -- Ambil id_prestasi yang baru saja disisipkan
        SET @id_detail_prestasi = SCOPE_IDENTITY();

        -- Menyisipkan data ke tabel detail_prestasi
        INSERT INTO PRESTASI (NIM, ID_DOKUMEN, ID_DETAIL, NIP, JENIS_PRESTASI, PERINGKAT, STATUS, ID_TINGKAT)
        VALUES (@nim, @id_dokumen, @id_detail_prestasi, @nip, @jenis_prestasi, @peringkat, @status, @id_tingkat);

        -- Commit transaksi jika semua berhasil
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- Jika ada kesalahan, rollback transaksi
        ROLLBACK TRANSACTION;
        
        -- Menampilkan pesan kesalahan
        THROW;
    END CATCH
END;
GO
USE [master]
GO
