* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.navbar {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 45px;
}

.navbar.dark {
    background-color: #111827;
    border-color: #1f2937;
}

.navbar a {
    text-decoration: none;
    color: #000000;
}

.navbar a.dark {
    color: #fff;
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .logo img {
    height: 2rem;
    margin-right: 0.5rem;
}

.navbar .menu {
    display: none;
}

.navbar .menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #f9fafb;
    border-top: 1px solid #d1d5db;
}

.navbar .menu a {
    padding: 0.5rem 1rem;
    color: #000000;
    border-bottom: 1px solid #d1d5db;
}

.navbar .menu a:hover {
    background-color: #f3f4f6;
}

.navbar .menu a.dark {
    color: #fff;
}

.navbar .menu a:hover.dark {
    background-color: #374151;
}

.navbar .toggle {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
}

.navbar .button {
    padding: 0.5rem 2rem;
    background-color: #FEC113;
    color: #000000;
    border: none;
    border-radius: 200px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.navbar .button:hover {
    background-color: #2563eb;
}

.main {
    margin-left: 45px;
    margin-right: 45px;
}

/* Responsive */
@media (min-width: 768px) {
    .navbar {
        flex-wrap: nowrap;
    }

    .navbar .menu {
        display: flex;
        flex-direction: row;
        position: static;
        background: none;
        border: none;
        width: auto;
    }

    .navbar .menu a {
        border: none;
        margin: 0 0.5rem;
    }

    .navbar .toggle {
        display: none;
    }
}

/* Main Content */
.hero {
    display: flex;
    gap: 10rem;
    height: 500px;
    align-items: center;
    justify-content: center;
    padding: 100px 500px;
    position: relative;
    background-color: #0b1b43;
    border-radius: 98px;
    max-width: fit-content;
    margin-inline: auto;
    margin-bottom: 50px;
    -webkit-border-radius: 98px;
    -moz-border-radius: 98px;
    -ms-border-radius: 98px;
    -o-border-radius: 98px;
}

.hero-title {
    position: relative;
    width: 885rem;
    font-family: "Poppins-Black", Helvetica;
    font-weight: 900;
    color: transparent;
    font-size: 80px;
    letter-spacing: 0;
    line-height: normal;
}

.hero .text-wrapper {
    color: #f99e16;
}

.hero .span {
    color: #ffffff;
}

.hero .group {
    position: relative;
    width: 683.38px;
    height: 430px;
    margin-left: -111px;
}

/*departement*/
.department {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 69px;
    position: relative;
    margin-bottom: 50px;
    max-width: fit-content;
    margin-inline: auto;
    position: relative;
}

.department img {
    position: relative;
    width: 701px;
    height: 429px;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    -ms-border-radius: 45px;
    -o-border-radius: 45px;
}

.department .div {
    flex-direction: column;
    width: 891.59px;
    align-items: flex-start;
    gap: 33px;
    display: flex;
    justify-content: center;
    position: relative;
}

.department .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
}

.department .p {
    position: relative;
    align-self: stretch;
    transform: rotate(-0.16deg);
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
}

.department .div-2 {
    width: 341px;
    height: 72px;
    align-items: center;
    gap: 10px;
    padding: 12px 0px;
    background-color: #fec113;
    border-radius: 98px;
    display: flex;
    justify-content: center;
    position: relative;
}

.department .text-wrapper-2 {
    position: relative;
    width: 305px;
    margin-top: -1.00px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
}

.department .arrow {
    position: absolute;
    width: 40px;
    height: 29px;
    left: 274px;
}

/* Carousel */
.champions {
    margin-bottom: 4rem;
}

.champions .text-wrapper {
    position: relative;
    width: 100%;
    margin-top: -1.00px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
}

.carousel {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 100%;
    gap: 30px;
    padding-bottom: 64px;
    
}
.carousel-slide {
    flex: 0 0 calc(25% - 30px);
    scroll-snap-align: center;
    background-color: #EEF2FF;
    border-radius: 1rem;
    height: 24rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-slide span {
    font-size: 1.875rem;
    font-weight: 600;
    color: #4338CA;
}
.carousel-indicators {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 0.5px;
}
.carousel-indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #A5B4FC;
    cursor: pointer;
}
.carousel-indicator.active {
    background-color: #4F46E5;
}
@media (max-width: 1920px) {
    .carousel-slide {
        flex: 0 0 calc(50% - 30px);
    }
}
@media (max-width: 990px) {
    .carousel-slide {
        flex: 0 0 100%;
    }
}
/* CTA */
.cta-section {
    display: flex;
    flex-direction: column;
    height: 500px;
    align-items: center;
    padding: 100px 366px;
    position: relative;
    background-color: #0b1b43;
    border-radius: 50px;
    margin-inline: auto;
    margin-bottom: 50px;
}

.cta-subtitle {
    position: relative;
    width: fit-content;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #fec113;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.cta-main-title {
    position: relative;
    width: 885px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: transparent;
    font-size: 96px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.cta-title-base {
    color: #ffffff;
}

.cta-title-highlight {
    color: #f99e16;
}

.cta-button-container {
    width: 400px;
    height: 120px;
    background-color: #fec113;
    border-radius: 100px;
}

.cta-button {
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    font-size: 55px;
    color: #000000;
    cursor: pointer;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    background-color: #0b1b43;
    height: 20rem;
    width: 100%;
    margin-left: 0%;
}