.main{
    width: auto;
    height: auto;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
    border-radius: 8px;
    overflow: hidden;
    padding: 20px;
}

a {
    text-decoration: none;
}

.main-content  .continue-button {
    display: flex;
    justify-content: flex-end;
}

.main-content  .continue-button button {
    background-color: #2C4EA3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.main-content  .continue-button button:hover {
    background-color: #34495E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
}

/* Back Button Styles */
.ButtonBack {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    color: black;
    margin-top: 20px;
}

.ButtonBack::before {
    content: '←';
    font-size: 20px;
    margin-right: 10px;
}

/* font*/
.inter-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.main-content {
    margin-left: 24rem;
    margin-right: 1rem;
    padding: 1rem;
    margin-top: 3.5rem;
}

.file-input {
    display: block;
    width: 100%;
}

.file-input::file-selector-button {
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 9999px;
    background-color: #FBBF24;
    color: #000000;
    font-size: 0.875rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
}

.file-input::file-selector-button:hover {
    background-color: #ede9fe;
}

.main-content  .file-upload {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #F3F4F6;
    border-radius: 10px;
    margin-bottom: 20px;
}

.main-content  .file-upload span {
    font-weight: 500;
}

.main-content  .file-upload button {
    background-color: #FBBF24;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.main-content  .file-upload button:hover {
    background-color: #F59E0B;
}

