
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
}

/* Main Content Styles */

.main-content h2 {
    margin-bottom: 20px;
}
.main-content form {
    display: flex;
    flex-direction: column;
}
.main-content form label {
    margin-bottom: 5px;
    font-weight: bold;
}
.main-content form input, .main-content form select {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.main-content form button{
    align-self: flex-end;
    padding: 10px 20px;
    background-color: #2C4EA3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



.main-content form button:hover {
    background-color: #34495E;
}



/* font*/
.inter-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.main-content {
    margin-left: 24rem;
    margin-right: 1rem;
    padding: 1rem;
    margin-top: 3.5rem;
    flex-grow: 1;

}