/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

body {
    font-family: 'Inter', sans-serif;

}

/* Main container styles */
.Main {
    width: auto;
    height: auto;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    padding: 20px;
    margin-left: 19rem;
}

/* Header styles */
.Header h1 {
    font-size: 36px;
    font-weight: 700;
    color: black;
    margin-bottom: 20px;
}

.Table {
    margin-bottom: 40px;
    border: 1px solid #2C4EA3;
    height: auto;
}

.SectionHeader {
    background-color: #2C4EA3;
    color: white;
    font-size: 24px;
    font-weight: 500;
    padding: 15px;
    padding-left: 2.4rem;
    margin-bottom: 10px;
}

.FileItem,
.DataItem {
    background-color: white;
    padding: 10px;
    padding-left: 2.4rem;
    font-size: 16px;
    color: black;
}

/* Label styles */
.Label {
    float: left;
    width: 180px;
    /* Tentukan lebar untuk label */
}

/* Colon (:) styles */
.Colon {
    padding: 0 10px;
    font-weight: 600;
    color: black;
    display: inline-block;
    width: 20px;
    text-align: center;
}

/* Details styles */
.Details {
    float: right;
    font-weight: 500;
    color: #555;
    width: calc(100% - 210px);
    /* Menyesuaikan dengan Label + Colon */
    text-align: left;
    /* Agar text di Details tidak rata kanan */
}

.FileItem div {
    display: inline;
    color: black;
    padding: 6px 18px;
    text-align: center;
    border-radius: 20px;
    font-weight: 600;
    font-size: 11px;
    margin-top: 20px;
    width: auto;
}

.ViewImage {
    background-color: #BCBCBC;
}

.ViewImage:hover {
    background-color: #968585;
    cursor: pointer;
}

.UploadSuccess {
    background-color: #1EFF09;
}

.ButtonSubmit button {
    background-color: #2C4EA3;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 8px;
    border-radius: 24px;
    width: 124px;
    padding: 10px 16px;
    border: none;
}

.ButtonSubmit button:hover {
    background-color: #34495E;
    cursor: pointer;
}

.ButtonBack {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    color: black;
    margin-top: 4px;
}

.ButtonBack::before {
    content: '←';
    font-size: 20px;
    margin-right: 10px;
}

/* profile card */
.profile-card {
    display: flex;
    align-items: center;
    background-color: #769DFF;
    color: white;
    padding: 16px;
    border-radius: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 4rem;
}

.profile-picture {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 16px;
    background-color: #d6d6d6;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info .name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0.5px;
}

.profile-info .id {
    font-size: 14px;
    opacity: 0.8;
}

/* font*/
.inter-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}