* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    
}

/* font */
.inter-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}


/* Main */
h1 {
    margin-bottom: 14px;
}

table {
    width: 96%;
}

table,
td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: small;
}

thead {
    background-color: #FEC113;
    border: 1px solid #FEC113;
    font-size: large;
}

th,
td {
    padding: 6px;
}

.status {
    width: 100%;
    border-radius: 6px;
    padding: 4px;
    border: none;
}

.success {
    background-color: #037D32;
    color: #02FF74;
}

.rejected {
    background-color: #9A3733;
    color: #d87b78;
}

.pending {
    background-color: #d2a21c;
    color: #ffd970;
}

img.check {
    width: 12px;
    height: auto;
    margin-top: 2px;
    margin-right: 2px;
}