.table-container {
    position: relative;
    overflow-x: auto;
}

/* Table styles */
.product-table {
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    color: #000000;
    border-collapse: separate; /* Change to separate to allow spacing */
    border-spacing: 0 0.5rem; /* Add vertical spacing between rows */
}

th{
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

/* Table header */
.product-table thead {
    font-size: 1rem;
    font-weight: 900; 
    text-transform: uppercase;
}

/* Table header cells */
.product-table th {
    padding: 1rem;
}

/* Table body rows */
.product-table tbody tr {
    background-color: #ffffff;
    margin-bottom: 0.5rem; /* Add margin between rows */
}

/* Product name cell */
.product-table th[scope="row"] {
    padding: 1rem;
    font-weight: 500;
    color: #000000;
    white-space: nowrap;
}

/* Regular table cells */
.product-table td {
    padding: 1rem;
}

.unmanage {
    border-radius: 100px;
    background-color: #86A8FF;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    text-align: center;
    width: 5rem;
    height: 1px;
    font-weight: 900;
}

.manage {
    border-radius: 100px;
    font-size: larger;
    background-color: #02FF74;
    width: 100%;
    padding: 4px;
    border: none;
    font-weight: 900;
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
    width: 9rem;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.unmanage-btn {
    background-color: transparent;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.unmanage-btn:hover {
    background-color: transparent;
}

.completed {
    border-radius: 50px;
    background-color: #037D32;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    text-align: center;
    color: #02FF74;
}

.unreview {
    border-radius: 50px;
    background-color: rgba(0, 20, 241, .4);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    text-align: center;
    color: #0014F1;
}

.failed {
    border-radius: 50px;
    background-color:rgba(199, 0, 0, .4);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    text-align: center;
    color: #C70000;
}

.status {
    width: 100%;
    border-radius: 6px;
    padding: 4px;
    border: none;
    font-weight: 900;
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
    width: 9rem;
    
}

td img {
    width: 2rem;
    height: auto;
}

a {
    text-decoration: none;
}