body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    background-color: white;
    border-radius: 15px;
    padding: 60px 20px 40px;
    text-align: center;
    position: relative;
    width: 300px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); 
}

.container .icon {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%); 
    background-color: #3b5998;
    border-radius: 50%;
    padding: 30px;
    color: white;
    font-size: 40px;
}

.container .input-container {
    position: relative;
    margin: 10px 0;
}

.container .input-container input {
    width: 80%;
    padding: 10px 10px 10px 50px;
    border: none;
    border-radius: 5px;
    background-color: #8a9dcf;
    color: white;
    font-size: 14px;
}

.container .input-container input::placeholder {
    color: white;
}

.container .input-container .input-icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 40px;
    background-color: #3b5998;
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.container button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #3b5998;
    color: white;
    font-size: 16px;
    cursor: pointer;
}