USE [master]
GO
/****** Object:  Database [presma]    Script Date: 06/12/2024 15:00:37 ******/
CREATE DATABASE [presma]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'presma', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\presma.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'presma_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\presma_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [presma].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [presma]
GO
/****** Object:  Table [dbo].[ADMIN]    Script Date: 06/12/2024 15:00:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN](
	[USERNAME] [varchar](50) NULL,
	[PASSWORD_ADMIN] [varchar](30) NULL,
	[NAMA_ADMIN] [varchar](50) NULL,
	[ID_ADMIN] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ADMIN] PRIMARY KEY CLUSTERED 
(
	[ID_ADMIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVENTS]    Script Date: 06/12/2024 15:00:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENTS](
	[ID_EVENT] [int] IDENTITY(1,1) NOT NULL,
	[NAMA_EVENT] [varchar](200) NULL,
	[TGL_LOMBA] [varchar](20) NULL,
	[KATEGORI_LOMBA] [varchar](100) NULL,
	[PENYELENGGARA] [varchar](100) NULL,
	[LOKASI] [varchar](150) NULL,
	[DESKRIPSI] [text] NULL,
	[LINK_LOMBA] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_EVENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAHASISWA]    Script Date: 06/12/2024 15:00:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAHASISWA](
	[NAMA] [varchar](100) NULL,
	[PRODI] [varchar](30) NULL,
	[EMAIL] [varchar](30) NULL,
	[PASSWORD] [varchar](30) NULL,
	[NIM] [varchar](12) NOT NULL,
	[TGL_LAHIR] [varchar](10) NULL,
	[KELAMIN] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[NIM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRESTASI]    Script Date: 06/12/2024 15:00:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRESTASI](
	[NIM] [varchar](12) NULL,
	[ID_TINGKAT] [int] NULL,
	[JENIS_PRESTASI] [varchar](100) NULL,
	[NAMA_LOMBA] [varchar](150) NULL,
	[PERINGKAT] [varchar](100) NULL,
	[STATUS] [varchar](100) NULL,
	[ID_PRESTASI] [int] IDENTITY(1,1) NOT NULL,
	[tanggal_lomba] [varchar](10) NULL,
	[sertifikat] [varchar](200) NULL,
	[proposal] [varchar](200) NULL,
	[surat_tugas] [varchar](200) NULL,
	[karya] [varchar](200) NULL,
	[DOSEN] [varchar](100) NULL,
 CONSTRAINT [PK__PRESTASI] PRIMARY KEY CLUSTERED 
(
	[ID_PRESTASI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TINGKAT]    Script Date: 06/12/2024 15:00:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINGKAT](
	[ID_TINGKAT] [int] IDENTITY(1,1) NOT NULL,
	[TINGKATAN] [varchar](100) NULL,
	[POIN] [int] NULL,
 CONSTRAINT [PK_TINGKAT] PRIMARY KEY CLUSTERED 
(
	[ID_TINGKAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PRESTASI]  WITH CHECK ADD FOREIGN KEY([NIM])
REFERENCES [dbo].[MAHASISWA] ([NIM])
GO
ALTER TABLE [dbo].[PRESTASI]  WITH CHECK ADD  CONSTRAINT [FK_Tingkat] FOREIGN KEY([ID_TINGKAT])
REFERENCES [dbo].[TINGKAT] ([ID_TINGKAT])
GO
ALTER TABLE [dbo].[PRESTASI] CHECK CONSTRAINT [FK_Tingkat]
GO
USE [master]
GO
